<!doctype html>

<html>

<head>
   <title>Central Texas GiveCamp</title>
   <meta name='viewport' content='width=device-width'>
   <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Imprima|Annie+Use+Your+Telescope'>
   <link rel='stylesheet' href='/css/skeleton.css'>
   <link rel='stylesheet' href='/css/style.css'>
   <link rel='stylesheet' href='/css/layout.css'>
   <script src='/js/modernizr-2.5.3.custom.min.js'></script>
</head>

<body>
   <header>
      <div class='container'>
         <div class='sixteen columns'>
            <h1><a href='/'><img class='banner' src='/img/banner.svg' height='210' width='405'>Central Texas Give Camp</a></h1>
            <h2>Presented by Headspring</h2>
         </div>
      </div>
   </header>

   <div class='container'>
      <div class='fourteen columns offset-by-two'>
         <h3 class='date'>28&ndash;30 September, 2012 &middot; Austin, Texas</h3>
         <p class='register'>
            Registration is now open! Visit Eventbrite to sign up!<br />
            <a href="http://www.eventbrite.com/event/3870490742?ref=ebtn" target="_blank"><img src="http://www.eventbrite.com/custombutton?eid=3870490742" alt="Eventbrite - Central Texas GiveCamp" /></a>
         </p>
      </div>
   </div>

   <div class='container'>
      <div class='fourteen columns offset-by-two board-post'>
         <h1>{{ page.title }}</h1>
         <p>{{ page.date | date_to_string }}</p>
         {{ content }}
      </div>
   </div>
